<form action="/submitLeavenForm/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="SelectAuthor">Author</label>
        <select class="form-control" id="SelectAuthor" name="SelectAuthor">
            <option value="{{ request.user }}">{{ request.user }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SelectDep">Dep</label>
        <select class="form-control" id="SelectDep" name="SelectDep">
            <option value="{{ depOptions.0.0 }}">{{ depOptions.0.1 }}</option>
            <option value="{{ depOptions.1.0 }}">{{ depOptions.1.1 }}</option>
            <option value="{{ depOptions.2.0 }}">{{ depOptions.2.1 }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="LeavenDate">LeavenDate</label>
        <input class="form-control" type="date" value="{{ now }}" id="LeavenDate" name="LeavenDate">
    </div>
    <div class="form-group">
        <label for="TimeRange">TimeRange</label>
        <select class="form-control" id="TimeRange" name="TimeRange">
                <option value="{{ timeOptions.0.0 }}">{{ timeOptions.0.1 }}</option>
                <option value="{{ timeOptions.1.0 }}">{{ timeOptions.1.1 }}</option>
            </select>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" cols="100" id="comment" name="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">送出</button>
</form>
